* {
  box-sizing: border-box;

}
.ArticleContainer {
  margin: 30px 0px 0px 600px;
  padding: 0px 10px;
  width: auto;
}

article {
  padding: 10px 10px 20px 10px;
  border-bottom: 1px solid #ddd;
  margin: 0px 0px 0px;
  width: 100%;
}
article h2 {
  font-size: 40px;
  margin: 5px 0px 10px 0px;
}
article p1 {
  color:  #a1a9a7 ;
}
article button {
  background-color: transparent;
  color: black;
  height: 35px;
  width: 200px;
  margin: 0 5px 0px 0px;
  border-radius: 15px;
  border: 1px solid #a1a9a7;
  padding: 5px;
  cursor: pointer;
}

.sidebar {
  text-size: 28;
  height: 100%;
  max-width: 530px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333333;
  overflow-x: hidden;
}

.sidebar h1{
  color: #f0f0f0;
}
.sidebar p{
  color: #9b9b9b;
}
.s_content{
margin: 30px 50px 10px 50px;
}
.item{
  color: white;
  width: 100%;
}

.AboutContainer {
 margin-left: 530px;
}

.PostContainer {
  margin-left: 530px;
}

.ReturnButton {
  text-align: center;
  background-color: transparent;
  color: black;
  height: 50px;
  width: 200px;
  margin: 10px 10px 10px 10px;
  border-radius: 3px;
  border: 1px solid #a1a9a7;
  padding: 5px;
  cursor: pointer;
}