* {
  box-sizing: border-box;
}

.ArticleContainer {
  position: relative;
  margin: 10px 10px 0 30px;
  width: auto;
}

article {
  padding: 10px 10px 5px;
  width: 100%;
}

article h1 {
  color: #333333;
  font-size: 48px;
  margin: 5px 0 10px;
}

article p1 {
  color: #a1a9a7;
  font-size: 16px;
}

article p {
  font-size: 22px;
}

article button {
  background-color: transparent;
  color: black;
  height: 35px;
  width: 200px;
  margin: 0 5px 0 0;
  border-radius: 15px;
  border: 1px solid #a1a9a7;
  padding: 5px;
  cursor: pointer;
}

.sidebar {
  position: relative;
  height: 100%;
  max-width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333333;
  overflow-x: hidden;
}

.sidebar h1 {
  color: #f0f0f0;
  font-size: 48px;
}

.sidebar p {
  color: #9b9b9b;
  margin: 10px 0 5px !important;
  font-size: 22px;
}

.s_content {
  margin: 30px 50px 10px;
}

.SocialLinks {
  color: grey !important;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.SocialLinks:hover {
  color: #f0f0f0 !important;
}

.big.icon {
  margin: 8px;
}

.item {
  margin: 10px 0;
  width: 100%;
  font-size: 22px;
}

.item a {
  width: 100%;
  font-size: 22px;
  color: #a1a9a7 !important;
}

.item a:hover {
  color: #f0f0f0 !important;
}

.AboutContainer {
  margin: 0 10px 0 30px;
}

.AboutContainer h1 {
  color: #333333;
  font-size: 48px;
  margin: 0 0 5px;
}

.AboutContainer h2 {
  color: #333333;
  font-size: 40px;
}

.AboutContainer p {
  font-size: 22px;
}

.ui.massive.image {
  width: auto !important;
}

.ui.post.button {
  background-color: transparent !important;
  font-weight: 500;
  border-radius: 5px;
  text-transform: none;
  text-shadow: none !important;
  box-shadow: 0 0 0 1px rgba(34, 36, 38, .15);
}

.ui.basic.button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  height: 50px;
  width: 200px;
  margin: 20px 10px !important;
}

.PostContainer {
  margin: 0 10px 0 20px;
}

.post h4 {
  color: #333333;
  text-align: center;
  font-size: 48px;
}

.post p1 {
  color: #969696;
  position: relative;
  text-align: center;
  margin: 20px 10px;
  font-size: 16px;
}

.post p2 {
  font-size: 22px;
}
