* {
  box-sizing: border-box;

}

.ArticleContainer {
  position: relative;
  margin: 10px 10px 0 30px;
  width: auto;
}
.TagDivider{
  margin: 0 10px 0 10px;
}

article {
  padding: 10px 10px 5px;
  width: 100%;
}

article h1 {
  color: #333333;
  font-size: 36px;
  margin: 5px 0 10px;
}

article p1 {
  font-size: 14px;
  color: #969696;
}

article p {
  margin-top: 15px;
  font-size: 14px;
}

article button {
  background-color: transparent;
  font-size: 14px;
  color: black;
  height: 35px;
  width: 230px;
  margin: 0 5px 0 0;
  border-radius: 20px;
  border: 1px solid #a1a9a7;
  padding: 5px;
  cursor: pointer;
}

article .ui.divider{
  margin-top: 40px;
}

.sidebar {
  position: relative;
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333333;
  overflow-x: hidden;
}

.sidebar h1 {
  color: #f0f0f0;
  font-size: 36x;
}

.sidebar p {
  color: #9b9b9b;
  margin: 10px 0 5px !important;
  font-size: 14px;
}

.s_content {
  margin: 30px 50px 10px;
}

.SocialLinks {
  color: grey !important;
  margin: 15px 8px 0 0;
}

.sidebar .i.big.icon{
  font-size: 25px;
}

.sidebar .ui.link.list{
  margin: 30px 0px 30px 0px;
}

.sidebar .socialIcons{
  margin-top: 30px;
}

.SocialLinks:hover {
  color: #f0f0f0 !important;
}

.item {
  margin: 10px 0;
  width: 100%;
  font-size: 22px;
}

.item a {

  width: 100%;
  font-size: 16px;
  color: #a1a9a7 !important;
}

.item a:hover {
  color: #f0f0f0 !important;
}

.AboutContainer {
  margin: 0 10px 0 30px;
}

.AboutContainer h1 {
  color: #333333;
  font-size: 36px;
  margin: 0 0 5px;
}

.AboutContainer h2 {
  color: #333333;
  font-size: 24px;
}

.AboutContainer p {
  font-size: 16px;
}

.ui.massive.image {
  width: auto !important;
  margin: 0 0 0 0;
}
.ui.divider{
  margin-right: 100px;
  border: 1px solid #5E5E5E;
}

.ui.basic.button {
  position: relative;
  left: 50%;
  font-size: 14px;
  transform: translate(-50%, 0);
  height: 50px;
  width: 200px;
  margin: 20px 10px !important;
}

.PostContainer {
  margin: 0 10px 0 20px;
}

.post h4 {
  color: #333333;
  text-align: center;
  font-size: 36px;

}

.post p1 {
  color: #969696;
  position: relative;
  text-align: center;
  margin: 20px 10px;
  font-size: 16px;
}

.post p2 {
  font-size: 16px;
}